main.main {
  grid-row: 2/3;
}

main.main div.main-container {
  width: var(--container-size);
  margin: 0 auto;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

main.main div.main-container h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

