.Header {
  background-color: var(--primary-color);
  height: fit-content;
  /* box-shadow: 0 1px 1px  var(--shadow-color); */

  .headerContainer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: var(--container-size);
  }

  .title {
    user-select: none;
    color: #fff;
    height: fit-content;
    font-size: 3rem;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
}
