:root {
  --container-size: 60%;
  --body-bg: #f8f9ff;
  --text-color: #181c22;
  --alt-text-color: #f2f2f2;
  --primary-color: #1565c0;
  --secondary-color: #bbddfb;
  --tertiary-color: #1b15c0;
  /* --tertiary-color: #0f4685; */
  --shadow-color: #00000015;
}

.dark-mode:root {
  --body-bg: #05182e; /* Cor de fundo escura */
  /* --body-bg: #121212; Cor de fundo escura */
  --text-color: #e0e0e0; /* Cor do texto escuro */
  --alt-text-color: #b0b0b0; /* Cor do texto alternativo escuro */
  --primary-color: #08274b; /* Cor primária mais clara */
  /* --primary-color: #90caf9; Cor primária mais clara */
  --secondary-color: #08274b; /* Cor secundária mais escura */
  --tertiary-color: #204874; /* Cor terciária mais escura */
  --shadow-color: #f1f1f120;
}

html {
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--text-color, black);
}

button,
input,
body {
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  background-color: var(--body-bg, white);
  margin: 0 auto;
}

#root {
  display: grid;
  height: 100vh;
  grid-template-rows: minMax(min-content, max-content) auto minMax(
      min-content,
      max-content
    );
}

@media (max-width: 1280px) {
  :root {
    --container-size: 80%;
  }
}
@media (max-width: 760px) {
  :root {
    --container-size: 90%;
  }
}
